.blue-text{
    color: #D2691E;
    text-align: center;
}
.thick-black-border{
    border: black solid 15px;
    border-radius: 10%;
}
.grey-background{
    background:Silver ;
    
}
.smaller-image{
    width: 500px;
}
.p{
    text-align: center;
}
.button {
    display: inline;
    color: black;
    border-radius: 100%;
    padding: 10px 20px 10px 20px;
}
/* rgb */